@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap');
body {
    background: rgb(0,0,0);
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(19,19,22,1) 42%, rgba(0,8,59,1) 74%);
    font-family: "Ropa Sans", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h2, h3 {
    color: white;
  }

  p {
    color: #D8D8D8;
  }
  header {
    background-color: rgb(0,0,0);
    color: white;
    padding: 1em 0;
    border-radius: 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
  }
  
  nav h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-left: 1em;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  section {
    padding: 2em;
    border-bottom: 1px solid #ccc;
  }
  
  footer {
    background: black;
    color: white;
    text-align: center;
    padding: 1em 0;
  }
  
  footer p {
    margin: 0.5em 0;
  }

  img {
    transition: box-shadow .3s;
    width: 700px;
    height: 700px;
    margin: 50px;
    border-radius:10px;
    border: 1px solid #ccc;
    background: #fff;
    float: right;
  }

  img:hover {
    box-shadow: 0 0 11px rgba(255, 255, 255, 0.916); 
  }
  
  .image-text {
    display: flex;
    align-items: center;
    gap: 20px; /* Space between image and text */
  }
  
  .image-text img {
    max-width: 700px; /* Adjust size as needed */
    height: auto;
  }
  
  .image-text div {
    max-width: 700px; /* Adjust size as needed */
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    border: #fff;
    border-radius: 40px;
    margin: 100px 250px;
  }